.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*min-height: 100vh;*/
  padding: 32px 16px;
  background-color: var(--background);
}

.signup-card {
  width: 100%;
  max-width: 400px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.back-button {
  color: #9ca3af;
  background: none;
  border: none;
  margin-right: 16px;
  cursor: pointer;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 200px;
}

.spacer {
  width: 40px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #9ca3af;
  background: none;
  border: none;
  cursor: pointer;
}

.terms-container {
  display: flex;
  align-items: center;
}

.terms-text {
  margin-left: 12px;
  font-size: 14px;
  color: #d1d5db;
}

.terms-link {
  color: var(--primary);
  text-decoration: none;
}

.error-input {
  border-color: #ef4444;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
