.toggle-container {
  position: relative;
  cursor: pointer;
}

.toggle-track {
  width: 40px;
  height: 24px;
  background-color: var(--on-secondary-container);
  border-radius: 50px;
  transition: background-color 300ms;
}

.toggle-track.active {
  background-color: var(--primary);
  opacity: 0.3;
  transition: background-color 300ms;
}

.toggle-thumb {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  left: 4px;
  top: 4px;
  transition: transform 150ms, background-color 300ms;
}

.toggle-thumb.active {
  transform: translateX(16px);
  background-color: var(--primary);
  transition: transform 150ms, background-color 300ms;
}
