<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a routerLink="/" class="footer-link">About</a>
      <a routerLink="/" class="footer-link">Terms</a>
      <a routerLink="/" class="footer-link">Privacy</a>
      <a routerLink="/" class="footer-link">Contact</a>
    </div>

    <div class="social-links">
      <a href="https://github.com/Timasostima" class="social-link">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/tymur-kulivar-shymanskyi/" class="social-link">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href="mailto:contact@tymurkulivar.dev" class="social-link">
        <i class="fa-regular fa-envelope"></i>
      </a>
    </div>

    <div class="copyright">
      <p>&copy; 2025 Robank. Tymur Kulivar Shymanskyi</p>
    </div>
  </div>
</footer>
